* {
    background-color: black;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    margin-bottom: 0px;
    transform: scale(.6);
}

h1 {
    color: antiquewhite;
    text-align: center;
}

.image-display {
    display: flex;
    justify-content: center;
}

.plans:hover {
    display: flex;
    justify-content: center;
    border: 1px solid #ffe81f;
    transform: scale(1.05);
}